.projectShowcase {
	margin: 10%;
}
.projectShowcase h1 {
	text-align: center;
	width: fit-content;
	margin: 1rem auto 2rem;
	position: relative;
	text-transform: uppercase;
	font-size: clamp(1rem, 7vw, 2.5rem);
}
.projectShowcase h1:before {
	content: "";
	position: absolute;
	bottom: -15%;
	left: -10%;
	width: 120%;
	height: 5px;
	background-color: #3a7fff;
	box-shadow: 0 2px 7px 1px #3a7fff;
	border-radius: 10px;
}
.projectShowcase .list {
	padding: 1rem;
	/* 	column-count: 4; */
	columns: 200px 5;
}

.projectShowcase img {
	width: 100%;
	margin-bottom: 0.7rem;
	box-shadow: 0 0 2px 5px #3a7fff;
	border-radius: 1.5rem;
}
